.list {
  list-style: none;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: capitalize;
}

.item {
  padding: 0.2rem 0;
}

.total {
  padding: 0.2rem 0;
  margin-top: 1.4rem;
  padding-top: 0.7rem;
  border-top: 1px solid #fff;
}