.title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
